<a data-choice-id="{{id}}" href="{{data}}" class="question-choice boxed boxed-{{boxColor}} {{#if image}}boxed-with-image{{/if}} {{#if active}}active{{/if}}">
	{{#if image}}
		<img class="" src="{{contentUrl image}}" alt="">
	{{/if}}
	<span>{{title}}</span>
</a>