{{#each stages}}
	{{#if active}}
		<li class="finished active"><a data-id="0" href="">{{stage}}</a></li>
	{{else}}
		{{#if completed}}
			<li class="finished {{#if active}}active{{/if}}"><a data-id="{{questionId}}" data-index="{{index}}" href="">{{stage}}</a></li>
		{{else}}
			<li class="{{#if active}}active{{/if}}"><a data-id="{{questionId}}" data-index="{{index}}" href="">{{stage}}</a></li>
		{{/if}}
	{{/if}}
{{/each}}